/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */
/*----this is my backround image*/
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images for tutorial/Cali\ Beach\ backround\ .jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	
	
}

.center {
    margin-bottom: 16px;
	text-align: center;

}

   
#logo {
   margin-top: 50px;
   margin-bottom: 30px;
	text-align: center;
}

h1 
	{
		font-family: 'Golos Text', sans-serif;
	font-size: 2em;
    margin: 10px auto 10px auto;
    color: #628aae;
}

h2 
	 {
		font-family: 'Montserrat', sans-serif;
	 
	font-size: 1.5em;
    line-height: 1.4;
    color: #628aae;
    padding: 0px 0px;
    margin: 20px auto 10px auto;
}

p 
	{
		font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
    margin: 20px; auto 10px auto;
    line-height: 1.6;
    color: #628aae;
}
 nav{
	font-family:'Raleway', sans-serif;
	font-size: 1.2em;
	width: 400px;
	margin: 0 auto;

	border-width: 3px 0;
	text-align: center;
	margin-top: 2em;
 }   
 nav li{
	display: inline;
 }   
nav a{
	display: inline-block;
	padding: 10px;
}
a{
	color: #444;
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	color: black;
	background: rgb(255, 156, 103);
}
    
    

